<td class="py-2 px-4 border">
  <%= doctor.full_name %>
</td>

<td class="py-2 px-4 border">
  <%= doctor.phone %>
</td>

<td class="py-2 px-4 border">
  <%= doctor.email %>
</td>

<td class="py-2 px-4 border">
  <%= doctor.category.name %>
</td>

<td class="py-2 px-4 border">
  <%= render 'doctors/appointments/form', doctor: doctor %>
</td>
