<div class="mt-6 border shadow-md p-4 bg-white">
  <%= form_tag(doctors_path, method: :get, class: "flex items-center") do %>
    <label for="category">Category:</label>
    <select id="category" name="category_id" class="ml-2">
      <option value="">All</option>
      <% @categories.each do |category| %>
        <option value="<%= category.id %>" <%= 'selected' if category.id.to_s == @selected_category %>><%= category.name %></option>
      <% end %>
    </select>
    <%= submit_tag("Filter", class: "ml-10 px-4 py-2 rounded-md hover:text-slate-400 bg-slate-200") %>
  <% end %>
</div>


<table class="min-w-full mt-6 bg-white shadow-md">
    <thead>
      <tr>
        <th class="py-2 px-4 bg-slate-200 text-left">Doctor</th>
        <th class="py-2 px-4 bg-slate-200 text-left">Phone</th>
        <th class="py-2 px-4 bg-slate-200 text-left">Email</th>
        <th class="py-2 px-4 bg-slate-200 text-left">Category</th>
        <th class="py-2 px-4 bg-slate-200 text-left">Actions</th>
      </tr>
    </thead>
  <% @doctors.each do |doctor| %>
    <tr>
      <%= render doctor %>
    </tr>
  <% end %>
</table>

<div class="flex justify-center py-5">
  <%== pagy_nav(@pagy) if @pagy.pages > 1 %>
</div>
