<td class="py-2 px-4 border">
  <%= appointment.patient.full_name %>
</td>

<td class="py-2 px-4 border">
  <%= appointment.doctor.full_name %>
</td>

<td class="py-2 px-4 border">
  <%= appointment.closed? ? "Closed" : "Active" %>
</td>

<td class="py-2 px-4 border">
  <%= appointment.recomendations %>
</td>

<td class="py-2 px-4 border">
  <% if current_user.doctor? && !appointment.closed? %>
    <%= link_to "Write recomendation", edit_appointment_path(appointment), class: "black-link" %>
  <% end %>
</td>
